.parent{
  position: relative;
}

.Banner{
  background-image: url("../img/mainBg.jpeg");
  text-align: center;
  background-color: #1c1c1c;
  background-size: cover;
  color: white;
  height: 400px;
  font-size: 40px;
}