.parent {
  position: relative;
}

.Banner {
  margin: 50px 20px; /* 수정된 부분: 반응형으로 간격 조정 */
  text-align: center;
  background-color: #CCFFCC; /* 연두색 계열 배경색 */
  color: #FFFFFF; /* 흰색 글자색 */
  height: 300px;
  font-size: 40px;
}

.img{
  max-height: 150px;
}

/* 반응형 웹 CSS 추가 */
@media (max-width: 768px) {
  /* 화면 크기가 768px 이하일 때 적용되는 스타일 */
  .Banner {
    margin: 50px 10px; /* 반응형으로 간격 조정 */
    height: 200px;
    font-size: 30px;
  }

  .img{
    max-height: 100px;
  }
}

@media (max-width: 576px) {
  /* 화면 크기가 576px 이하일 때 적용되는 스타일 */
  .Banner {
    margin: 50px 5px; /* 반응형으로 간격 조정 */
    height: 150px;
    font-size: 20px;
  }

  .img{
  max-height: 70px;
}
}
