/* Counselor.module.css */

.body {
  background-color: #e0f2f1; /* 연두색 계열 배경색 */
  box-shadow: 3px 3px 5px;
  border-radius: 10px;
  margin: 50px 20px; /* 수정된 부분: 반응형으로 간격 조정 */
  padding: 20px; /* 수정된 부분: 간격 추가 */
  display: flex; /* 수정된 부분: 컨테이너 내 요소들을 가로로 배치 */
  flex-direction: column; /* 수정된 부분: 세로로 긴 카드 형식으로 배치 */
}

.top {
  margin-top:20px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 수정된 부분: 요소들을 수직으로 정렬 */
  margin-bottom: 10px; /* 수정된 부분: 아래 여백 추가 */
}

.name {
  font-size: 30px;
  padding: 0 10px; /* 수정된 부분: 좌우 간격 조정 */
}

.left {
  display: flex;
  align-items: center;
  flex: 1; /* 수정된 부분: 이미지와 이름, 프로필을 동일한 너비로 설정 */
}

.right {
  font-size: 20px;
}

.profile {
  margin-top:7px;
  padding: 0px; /* 수정된 부분: 좌우 간격 조정 */
  font-size: 20px;
}

.introduction {
  margin-top:30px;
  padding: 0 10px; /* 수정된 부분: 좌우 간격 조정 */
  font-size: 15px;
}

.image {
  width: 100%; /* 수정된 부분: 이미지의 너비를 부모 요소인 .body의 100%로 설정 */
  height: auto; /* 수정된 부분: 이미지의 높이를 자동으로 조정하여 가로 세로 비율 유지 */
  max-height: 500px; /* 수정된 부분: 이미지의 최대 높이를 500px로 제한 */
}

/* 반응형 웹 CSS 추가 */
@media (max-width: 768px) {
  /* 화면 크기가 768px 이하일 때 적용되는 스타일 */
  .body {
    margin: 30px 10px; /* 반응형으로 간격 조정 */
  }

  .name {
    font-size: 25px; /* 폰트 크기 조정 */
  }

  .right {
    font-size: 15px; /* 폰트 크기 조정 */
  }

  .profile {
    font-size: 18px; /* 폰트 크기 조정 */
  }

  .introduction {
    font-size: 14px; /* 폰트 크기 조정 */
  }

  .image {
    max-height: 450px; /* 화면 크기에 따라 이미지의 최대 높이를 450px로 조정 */
  }
}
