.body {
  background-color: #f5f5f5;
  box-shadow: 3px 3px 5px;
  border-radius: 10px;
  margin: 50px 20px; /* 수정된 부분: 반응형으로 간격 조정 */
  padding: 20px; /* 수정된 부분: 간격 추가 */
  height: 270px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 30px;
  padding: 10px 0; /* 수정된 부분: 간격 조정 */
}

.left {
  display: flex;
  align-items: center; /* 수정된 부분: 이미지와 이름을 수직으로 정렬 */
}

.right {
  padding-top: 10px; /* 수정된 부분: 간격 조정 */
  font-size: 20px; /* 수정된 부분: 간격 조정 */
}

.profile {
  padding: 10px 0; /* 수정된 부분: 간격 조정 */
  font-size: 20px; /* 수정된 부분: 간격 조정 */
}

.introduction {
  padding: 10px 0; /* 수정된 부분: 간격 조정 */
  font-size: 15px;
}

img {
  height: 100px;
}

/* 반응형 웹 CSS 추가 */
@media (max-width: 768px) {
  /* 화면 크기가 768px 이하일 때 적용되는 스타일 */
  .body {
    margin: 30px 10px; /* 반응형으로 간격 조정 */
    height: auto; /* 높이를 자동으로 조정하여 내용에 맞게 표시 */
  }

  .name {
    font-size: 25px; /* 폰트 크기 조정 */
  }

  .right {
    font-size: 15px; /* 폰트 크기 조정 */
  }

  .profile {
    font-size: 18px; /* 폰트 크기 조정 */
  }

  .introduction {
    font-size: 14px; /* 폰트 크기 조정 */
  }

  img {
    height: 80px; /* 이미지 크기 조정 */
  }
}