/* SideBar.module.css */
.container {
  background-color: #E3ECF1;
}

.sidebar {
  background-color: white;
  border-right: 1px solid #202020;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
  color: black;
  height: 100%;
  z-index: 99;
  width: 280px; /* 초기 너비 설정 */
}

.button {
  position: relative;
  width: 40px;
  height: 40px;
  transition: 0.8s ease;
}

.exitButton {
  font-size: 30px;
  float: right;
  margin: 20px 30px;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px 40px 0 20px;
  position: relative;
  width: 100%;
}

/* 반응형 웹 CSS 추가 */
@media (max-width: 768px) {
  /* 화면 크기가 768px 이하일 때 적용되는 스타일 */
  .sidebar {
    width: 200px; /* 너비를 200px로 변경 */
  }
}

@media (max-width: 576px) {
  /* 화면 크기가 576px 이하일 때 적용되는 스타일 */
  .sidebar {
    width: 150px; /* 너비를 150px로 변경 */
  }
}
